@tailwind base;
@tailwind components;
@tailwind utilities;

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.amber.500') !important;
  --rdp-background-color: theme('colors.amber.600') !important;
  margin: 0 !important;
}
